<div class="row justify-content-center">
    <div class="col-12">
        <h3>Create New Question</h3>
        <h6>Would you rather?</h6>
    </div>
    <div class="col-12 my-3">
        <form [formGroup]="newQuestionForm" autocomplete="off" novalidate>
            <input formControlName="q1" id="q1">
            <div class="my-2">Or</div>
            <input formControlName="q2" id="q2">
        </form>
    </div>
    <div class="col-3">
        <button type="button" class="btn btn-primary" (click)="addNewQuestion()" [disabled]="!newQuestionForm.valid">Submit</button>
    </div>
</div>
