<div class="row justify-content-between">
    <div class="col-4">
        <ul class="nav justify-content-start mb-5" *ngIf="authedUser">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/home">Home</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/leaderboard">Leaderboard</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/add">Add Question</a>
            </li>
        </ul>
    </div>
    <div class="col-4">
        <ul class="nav justify-content-end mb-5" *ngIf="authedUser">
            <li class="nav-item">
                <a class="nav-link disabled" href="javascript:void(0)">Hello {{authedUser.name}}!</a>
            </li>
            <li class="nav-item img-section">
                <img [src]="authedUser?.avatarURL" [alt]="'Avatart of ' + authedUser?.name" className="avatar" />
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)" (click)="logout()">Logout</a>
            </li>
        </ul>
    </div>
</div>
