<div class="modal-container">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
    </div>
    <div class="modal-body row justify-content-center">
        <div class="col-12">
            <form [formGroup]="loginForm" autocomplete="off" novalidate>
                <input formControlName="username" id="username">
                <!-- <input formControlName="password" id="password"> -->
            </form>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-primary" (click)="login()" [disabled]="!loginForm.valid">Primary</button>
        </div>
    </div>
</div>
