<div class="row main justify-content-center">
    <ng-container *ngIf="question; else not_found">
        <ng-container *ngIf="!!userResponse; else not_answered">
            <div class="col-12">
                <h3>Results</h3>
            </div>
            <div class="col-12 mt-3">
                <img [src]="userCreator?.avatarURL" [alt]="'Avatart of ' + userCreator?.name" className="avatar" />
            </div>
            <div class="col-12 mt-3">
                <div class="row justify-content-center">
                    <div class="col-3">
                        <div class="answer-section py-2" [ngClass]="userResponse === 'optionOne' ? 'question-answer' : '' ">
                            <h5>{{question.optionOne.text}}</h5>
                            <div>{{(question.optionOne.votes.length / totalVotes * 100).toFixed(2) + ' %'}}</div>
                            <div>{{question.optionOne.votes.length}} out of {{totalVotes}}</div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="answer-section py-2" [ngClass]="userResponse === 'optionTwo' ? 'question-answer' : '' ">
                            <h5>{{question.optionTwo.text}}</h5>
                            <div>{{(question.optionTwo.votes.length / totalVotes * 100).toFixed(2) + ' %'}}</div>
                            <div>{{question.optionTwo.votes.length}} out of {{totalVotes}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-template #not_answered>
            <div class="col-12">
                <h3>Would you rather?</h3>
            </div>
            <div class="col-12 mt-3">
                <img [src]="userCreator?.avatarURL" [alt]="'Avatart of ' + userCreator?.name" className="avatar" />
            </div>
            <div class="col-6 mt-3">
                <div class="row justify-content-center">
                    <div class="col-3">
                        <button type="button" class="btn btn-primary"
                            (click)="onClick('optionOne')">{{question?.optionOne?.text}}</button>
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-primary"
                            (click)="onClick('optionTwo')">{{question?.optionTwo?.text}}</button>
                    </div>
                </div>
            </div>
        </ng-template>
    </ng-container>
    <ng-template #not_found>
        <div class="col-12">
            <h3>Question with id={{questionIdFromRoute}} cannot be found.</h3>
        </div>
    </ng-template>
</div>
